/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-main: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --title-color: #FF0070;
  --decorated-text-color: #000028;
  --link-color: #F1B2CE;
  --decorated-zone-color: #FF0070;
  --btn-color: #FF0070;
  --border-style: 1px solid #FF0070;
  --focus-border-style: 1px solid rgba(255, 0, 112, 0.4);   
}

:root.theme-dark .header__rec {
  display: block;
}