/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", monospace;
  --bg-main: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --title-color: #FF0070;
  --decorated-text-color: #000028;
  --link-color: #F1B2CE;
  --decorated-zone-color: #FF0070;        
}